*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto-Mono", sans-serif;
}

:root {
  --primary-color: #3D4E81;
  --background-primary-color: #1F2841;
}