<aside class="sidebar">
  <div class="app-logo">
    <img src="../../assets/images/InvestorConnect_logo.png" alt="App Logo" />
  </div>

  <nav class="sidebar-menu">
    <ul>
      <li><a href="#" class="active"><i class="material-icons">dashboard</i><span>Dashboard</span></a></li>
      <li><a href="#"><i class="material-icons">people</i><span>Investors</span></a></li>
      <li><a href="#"><i class="material-icons">business</i><span>Startups</span></a></li>
      <li><a href="#"><i class="material-icons">message</i><span>Messages</span></a></li>
      <li><a href="#"><i class="material-icons">settings</i><span>Settings</span></a></li>
    </ul>
  </nav>

  <div class="logout-button">
    <button mat-raised-button color="primary" (click)="logout()">
      <i class="material-icons">logout</i>
      Logout
    </button>
  </div>
</aside>
